.sidenav
  button.closebtn(id="closeNav") 
    .fa.fa-2x.fa-times
  a(href="#") About
  a(href="#") Services
  a(href="#") Clients
  a(href="#") Contact
button.drawer-btn(id="openNav")
  .fa.fa-2x.fa-bars
