doctype html
html
  head
    title= `Hello`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body  
  include nav.pug

  block content
    .container
      h1 hello world
      button Click Me

    script(src='/dist/main.bundle.js')
