.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 10px 20px;
  outline: none;
  margin: 5px 10px;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    outline: none;
    box-shadow: 1px 2px 2px $gray-700;
  }
  // btn btn-drawer
  &.btn-drawer {
    position: fixed;
    background-color: white;
    color: $gray-800;
    margin: 1rem;
    &:hover,
    &:focus {
      // remove box-shadow
      box-shadow: none;
    }
  }
}
