button {
  border: none;
  color: invert($dark-grey);
  &.dark {
    background-color: $dark-grey;
    &:hover {
      background-color: lighten($dark-grey, 10);
      color: #fff;
    }
  }
  &:focus {
    outline: none;
  }
}

.drawer-btn {
  position: fixed;
  background-color: white;
  color: $dark-grey;
  margin: 1rem;
}
