button {
  background-color: $dark-grey;
  width: 8rem;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  color: invert($dark-grey);

  &:hover {
    background-color: lighten($dark-grey, 10);
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}
